@if(homePage?.slug === 'paris'){
   <app-paris [data]="homePage" [slug]="theme"></app-paris>
}

@else if(homePage?.slug === 'tokyo'){
   <app-tokyo [data]="homePage" [slug]="theme"></app-tokyo>
}

@else if(homePage?.slug === 'osaka'){
   <app-osaka [data]="homePage" [slug]="theme"></app-osaka>
}

@else if(homePage?.slug === 'rome'){
   <app-rome [data]="homePage" [slug]="theme"></app-rome>
}

@else if(homePage?.slug === 'madrid'){
   <app-madrid [data]="homePage" [slug]="theme"></app-madrid>
}

@else if(homePage?.slug === 'berlin'){
   <app-berlin [data]="homePage" [slug]="theme"></app-berlin>
}

@else if(homePage?.slug === 'denver'){
   <app-denver [data]="homePage" [slug]="theme"></app-denver>
}

@else if(homePage?.slug === 'cairo'){
   <app-cairo [data]="homePage" [slug]="theme"></app-cairo>
}

@else if(homePage?.slug === 'moscow'){
   <app-moscow [data]="homePage" [slug]="theme"></app-moscow>
}
