@if(style == 'horizontal' && themeOptionService.productBox == 'basic'){
   <app-basic-product-box [product]="product" [close]="close"></app-basic-product-box>
}

@if(style == 'horizontal' && themeOptionService.productBox == 'premium'){
   <app-premium-product-box [product]="product" [close]="close"></app-premium-product-box>
}

@if(style == 'horizontal' && themeOptionService.productBox == 'classic'){
   <app-classic-product-box [product]="product" [close]="close"></app-classic-product-box>
}

@if(style == 'horizontal' && themeOptionService.productBox == 'standard'){
   <app-standard-product-box [product]="product" [close]="close"></app-standard-product-box>
}

@if(style == 'horizontal' && themeOptionService.productBox == 'digital'){
   <app-digital-product-box [product]="product" [close]="close"></app-digital-product-box>
}

@if(style == 'vertical'){
   <app-product-box-vertical [product]="product"></app-product-box-vertical>
}